### Exercício 04 – Criando relatórios em função do arquivo dados-vendas.xlsx.

Crie um dataframe, utilizando o arquivo dados-vendas.xlsx. Crie data frames para dividir a planilha vendas em 4 arquivos. São eles:

In [62]:
import pandas as pd 

caminho = './Arquivos/dados-vendas.xlsx'

dados = pd.read_excel (caminho)

dados.head()

,ID-Produto,Produto,Categoria,Segmento,Fabricante,Loja,Cidade,Estado,Vendedor,ID-Vendedor,Data Venda,ValorVenda
0,SKU-0000001,LG K10 TV Power,Celulares,Corporativo,LG,SP8821,São Paulo,São Paulo,Ana Teixeira,1009,2012-10-04,679.00
1,SKU-0000002,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,2012-01-01,832.00
2,SKU-0000003,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,2012-02-02,790.00
3,SKU-0000004,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Mateus Gonçalves,1003,2012-03-03,765.32
4,SKU-0000005,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Electrolux,SP8821,São Paulo,São Paulo,Artur Moreira,1004,2012-04-04,459.89

### Dividir o DataFrame em 4 tabelas 
    - Tabela Fato
    - Dimensão Produto
    - Dimensão Vendedor 
    - Dimensão Lojas

In [10]:
# Importando a biblioteca OS

import os

# Criando uma pasta no diretório atual 

os.mkdir ('./Relatório - Exercicio 5')

In [19]:
# Criando a tabela fato em função do DataFrame Original 

tbl_fato = dados.loc[:,['ID-Produto','Loja','ID-Vendedor','Data Venda','ValorVenda']]

tbl_fato = tbl_fato.rename(columns={'Loja' : 'ID-Loja'})

tbl_fato.to_excel('./Relatório - Exercicio 5/Tabela_Fato.xlsx')

In [31]:

dim_lojas = dados.loc[:,['Loja','Cidade','Estado']]

dim_lojas = dim_lojas.rename(columns={'Loja' : 'ID-Loja'})

dim_lojas.duplicated().sum()

dim_lojas = dim_lojas.drop_duplicates()

tbl_lojas.to_excel('./Relatório - Exercicio 5/Dim_Lojas.xlsx')

In [30]:
dim_produtos = dados.loc[:,['ID-Produto','Produto','Categoria','Segmento','Fabricante']]

dim_produtos.duplicated().sum()

dim_produtos = dim_produtos.drop_duplicates()

dim_produtos.to_excel('./Relatório - Exercicio 5/Dim_Produtos.xlsx')

In [35]:
dim_vendedor = dados.loc[:,['ID-Vendedor','Vendedor']]

dim_vendedor.duplicated().sum()

dim_vendedor = dim_vendedor.drop_duplicates()

dim_vendedor.to_excel('./Relatório - Exercicio 5/Dim_Vendedor.xlsx')

### Gerar relatórios por Vendedor

In [65]:
# 1 Criar uma pasta para salvar os relatórios por Vendedor
os.mkdir('./Relatório - Exercicio 5/Vendedor')

# 2 Selecionar a coluna vendedor do DataFrame e remover as duplicadas 

df_vendedores = dados['Vendedor'].drop_duplicates()

# 3 Converter o DataFrame DF_Vendedores em lista 

vendedores = df_vendedores.to_list()

# 4 Estruturar a repetição para filtrar o DataFrame

for v in vendedores:
    print(v)
    df_final = dados[dados['Vendedor'] == v]
    df_final.to_excel('./Relatório - Exercicio 5/Vendedor/' + v + '.xlsx')

Ana Teixeira
Josias Silva
Mateus Gonçalves
Artur Moreira
Rodrigo Fagundes
Fernando Zambrini
André Pereira
Maria Fernandes
Aline Sutter