### Listas ou Array 

Utiliza conchetes para criação.

Podemos armazenar várias tipos de informações.

É possivel modificar os elementos da estrutura.

#### Identificar o tipo de dados 
    TYPE (lista)

#### Contar a quantidade dos elementos da lista
    LEN ()

#### Conversão de uma lista em STRING, nós utilizamos o comando 
    JOIN ()

In [3]:
alunos = ["Ana" , "Amanda" , "Bruno" , "João"]
notas = [10, 9, 8 ,7]

# Acessar os elementos de uma lista 

# Exibir o primeiro nome da lista alunos 
print (alunos[0])

#Exibir a terceira nota da lista notas 
print(notas[2])

Ana
8

In [5]:
# Selecionar uma fatia dos dados ( Amanda a Bruno)
# lista[posição_inicial : posição_final +1]

alunos[1:3]

['Amanda', 'Bruno']

In [11]:
# Selecionar apenas os nomes Bruno e João 

alunos[2:]

['Bruno', 'João']

In [15]:
# Identificando o tipo de informação 

print(type(notas))
print(len(notas))

<class 'list'>
4

In [1]:
# Converter uma lista em STRING

supermercado = ['batata', 'óleo', 'margarina','café']

listaConvertida = ';'.join(supermercado)

print(listaConvertida)
print(type(listaConvertida))

batata;óleo;margarina;café
<class 'str'>

In [6]:
# Converter STRING em lista 

lista = listaConvertida.split(';')

print(lista)
print(type(lista))

['batata', 'óleo', 'margarina', 'café']
<class 'list'>

### Tuplas

#### É criado com parênteses ( )

#### Separamos os elementos por virgula 

#### Pode conter múltiplos elementos 

#### Não podemos alterar sua estrutura após sua criação

In [7]:
valores = (90,79,54,32,21)
pontos = (100,94.05,86.08,62)

print(type(valores))

print(type(pontos))

<class 'tuple'>
<class 'tuple'>

### Tuplas ( tuple ) - Outros Exemplos

In [10]:
my_list = [1,2] # Criando uma lista 

my_tuple = (1,2) # Criando uma tupla

# Alterando o elemento de posição 1 da lista 
# Listas permitem a sua alteração 

my_list[0] = 10

print(my_list)

# Alterando o elemento da posição 1 da tupla

try: 
    my_tuple[1] = 3

except TypeError:

    print('Não é possivel modificar uma tupla')

[10, 2]
Não é possivel modificar uma tupla

### Criando uma função com Tuplas

In [11]:
def sum_and_product (x,y):
    
    return ( x + y),(x * y)

In [12]:
sum_and_product (10,5)

(15, 50)

### Dicionários 

#### Dicionários são estruturas chave: Valor que permite associar valores a um identificador


#### É criado com chaves {   }


#### Permite Alteração  


#### 
        { 'ANA'   : 10 ,
          'JORGE' : 5,
          'MARIA' : 10 }

In [14]:
altura = {   'Amanda':1.65,
            'Ana':1.60,
            'João':1.50
}

peso =  {   'Amanda': 60,
            'Ana': 58,
            'João': 100
}

print(type(altura))
print(type(peso))

<class 'dict'>
<class 'dict'>

In [22]:
# Acessar informações do dicionário 
print(altura['Ana'])
print(peso['Ana'])

1.6
58